version: '3.8'

services:
  clickhouse:
    image: clickhouse/clickhouse-server
    ports:
      - 9000:9000
      - 8123:8123
      - 9009:9009
    environment:
      - CLICKHOUSE_USER
      - CLICKHOUSE_PASSWORD


  web:
    env_file:
      - .env
    depends_on:
      - clickhouse
    build:
      dockerfile: model.dockerfile
    environment:
      - CLICKHOUSE_USER
      - CLICKHOUSE_PASSWORD
    command: bash -c "python src/preprocess.py && python src/train.py && python src/predict.py -m LOG_REG -t func && coverage run src/unit_tests/test_preprocess.py && coverage run -a src/unit_tests/test_training.py && coverage report -m && python src/db_init.py && uvicorn src.app:app --host 0.0.0.0 --port 8000"
    ports:
      - 8000:8000
    image: papajool/big_data_lab2:latest




